html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Slabo 27px', serif;
  font-size: 19px;
  height: 101%;
}

a {
  font-family: 'Dosis', sans-serif;
  color: #000;
  letter-spacing: 0.03em;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #BFBFBF;
  transition: border 0.5s;
}

a:hover,a:active,a:focus {
  border-bottom: 1px solid #000;
}

#root {
  padding: 2em;
  max-width: 800px;
  display: block;
  margin: 0 auto;  
}

header {
  font-size: 0.8em;
  padding: 2em;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid rgba(79, 79, 79, 0.15);
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(241,241,241,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(241,241,241,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(241,241,241,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(241,241,241,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(241,241,241,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(241,241,241,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0 );  
}

header h1 {
  display: table;
  margin: -1em 0 1em 1.5em;
  text-transform: capitalize;
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.5em 1em;
  background: #ffe24a;
  transform: skew(-15deg, 8deg) rotate(-11deg) translate(-25%, -30%);
  box-shadow: 4px 7px 20px 0px rgba(79, 79, 79, 0.18);
}

header h1 a {
  text-transform: capitalize;
  font-family: inherit;
  font-size: inherit;
  border-bottom: 0;
}

header h1 a:hover,
header h1 a:active,
header h1 a:focus {
  border-bottom: 0;
}

header p {
  display: inline-block;
  margin: 0;
  width: 40%;
}

header ul {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 0;
  width: 60%;
  text-align: right;
}

header ul li {
  display: inline;
  padding-right: 1em;
}

footer {
  background: #f1f1f1;
  padding: 0.5em 2em;
  border-top: 1px solid rgba(79, 79, 79, 0.15);
  border-bottom: 12px solid rgba(0, 0, 0, 0.67);
}

footer p {
  margin: 2em 0 0.25em 0;
  font-size: 0.8em;
  text-align: right;
  color: #4f4f4f;
}

select {
  margin-left: 0;
  background: #000;
  border: 0;
  color: #fff;
  font-size: 0.80em;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-family: 'Slabo 27px', serif;
}

select:disabled {
  color: #929292;
  cursor: not-allowed;
  background: #4f4f4f;
}

/********************************/
/* main
/********************************/

.main {
  padding: 2em;
  background: #f1f1f1;
  margin: 0.3em 0;
}

.main h3 {
  margin-top: 0;
}

.main h4 {
  margin: 0.5em 0;
}

.main input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #000 inset;
  -webkit-text-fill-color: #fff;
}

.main input {
  background: #000;
  border: 0;
  padding: 0.25em 0.6em;
  margin: 0.1em 0;
  font-size: 0.80em;
  font-family: 'Slabo 27px', serif;
  color: #fff;
}

.main input[type="submit"],
.main button[type="submit"] {
  padding: 0.25em 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  outline: none;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
}

.main button[type="submit"] {
  margin-left: 0;
  background: #000;
  border: 0;
  color: #fff;
  font-size: 0.80em;
  font-family: 'Slabo 27px', serif;
}

.main input[type="submit"]:disabled,
.main button[type="submit"]:disabled {
  background: rgb(113, 113, 113);
  color: #c7c7c7;
  cursor: not-allowed;
}


.main textarea {
  width: 100%;
  height: 100px;
  background: #000;
  border: 0;
  padding: 1em 1em;
  margin: 0.1em 0;
  font-size: 0.80em;
  font-family: 'Slabo 27px', serif;
  color: #fff;
}


.formerror {
  margin-top: 1em;
  color: #d00000;
  font-size: 0.85em;
}

.formerror span:nth-of-type(1) {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.4em;
}

.formerror span:nth-of-type(2) {
  font-weight: normal;
}


/********************************/
/* admin area
/********************************/

.usertable {
  display: inline-block;
}

.usertable .row {
  min-width: 150px;
}

.usertable .row div {
  display: inline-block;
  min-width: 150px;
}

.usertable .theader {
  border-bottom: 1px solid #c2c2c2;
}

.usertable .theader div {
  min-width: 150px;
  display: inline-block;
  font-weight: bold;
}

.usertable form {
  padding: 0.2em 0;
}

.usertable form div {
  min-width: 150px;
  display: inline-block;
}

.usertable .theader div:last-of-type,
.usertable form div:last-of-type {
  min-width: 80px;
}





.topic {
  font-size: 1.1em;
  line-height: 1.5;
  border-top: 6px solid #ffe24a;
  margin-bottom: 4em;
}

.topic .text {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 79%, rgba(255,255,255,0.71) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(79%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.71)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 79%, rgba(255,255,255,0.71) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 79%, rgba(255,255,255,0.71) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 79%, rgba(255,255,255,0.71) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 79%, rgba(255,255,255,0.71) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  padding: 1em;
  box-shadow: 4px 7px 20px 0px rgba(79, 79, 79, 0.11);
  margin: 0;
}

.topic .text p {
  white-space: pre;
  margin: 0;
}

.topic .makecomment h4 {
  margin: 1.5em 0 0.5em 0;
}

.topic .by {
  display: inline-block;
  color: #4c4c4c;
  letter-spacing: 1px;
  margin: 1em;
  font-size: 0.7em;
}

.topic .date {
  display: inline-block;
  color: #b1b1b1;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 1em 1em 1em 0;
  font-size: 0.7em;
}

.topic .makecomment {
  transition: max-height 1s;
  display: block;
  max-height: 0;
  height: 100%;
  overflow: hidden;
  margin-left: 1.5em;
  /* margin-top: -2em; */
  position: relative;
  z-index: 1;
  margin: -3em 2em 2em 2em;
  font-size: 0.8em;
  background: #f1f1f1;
}

.topic .makecomment.active {
  max-height: 300px;
}

.topic button.makecomment_visible {
  background: #000;
  border: 0;
  margin-left: 2.5em;
  color: #fff;
  font-family: 'Slabo 27px', serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.5em 1.2em;
  outline: none;
}

.topic .text + .makecomment_visible + .makecomment {
  margin-top: -2em;
}

.topic .text + .makecomment_visible {
  margin-top: 2em;
}


/********************************/



/********************************/
/* comments
/********************************/

.comment {
  margin: 1em 2em 1em 2em;
  font-size: 0.8em;
  border-top: 3px solid rgba(253, 253, 253, 0.69);
}

.comment button {
  position: relative;
  width: 20px;
  display: inline-block;
  height: 20px;
  background: transparent;
  border: 3px inset #de1d1d;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  margin: 1em;
  font-size: 0.7em;
}

.comment button:after {
  height: 100%;
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  color: #a00000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  content: 'x';
}

.comment .text {
  background: rgb(245, 245, 245);
}